.thumbnail .wi {
    font-size: 28px;
}

.thumbnail .fa {
    font-size: 28px;
}

.thumbnail .period {
    font-size: 28px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right:-4px;
}