<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <div class="jumbotron-contents text-center">
                <h1>fore.cast()</h1>
                <h2>React to weather, we handle the hard part.</h2>
                <p class="lead"></p>
                <p><a class="btn btn-lg btn-success" href="#/faq" role="button">How it works</a>
                    <a class="btn btn-lg btn-success" href="#/home" role="button">Create config</a>
                    <a class="btn btn-lg btn-success" href="#/store" role="button">Demo store</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row center-block">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>How it works</h3>

        <p>Notification service to connect your applications to weather forecast data. You tell us how you want to be notified,
            we handle the hard part. Using our service, you can choose to receive an email or notify your applications.</p>

        <p>This project contains a configuration interface to setup weather forecast based notifications and a demo e-commerce
            that reacts to it, changing it's prices.</p>

        <ul>
            <li>Select a weather event (rain, snow, sun)</li>
            <li>Choose a location</li>
            <li>Choose to be notified by email or notify an application</li>
        </ul>
        <ul>
            <li>You can check the notification by setting a webhook to <i>http://requestb.in/1cxlztd1</i>, and opening on your
                browser
                <a href="http://requestb.in/1cxlztd1?inspect" target="_blank" alt="link to requestbin">http://requestb.in/1cxlztd1?inspect</a></li>
        </ul>
        <ul>
            <li>The demo store receives notifications in the endpoint http://169.45.221.144:3000/updatePrice/</li>
            <li>When the store is notified, the products prices decrease based on pre-defined values.</li>
            <li>If the store is not notified or the last notification was more than 05 minutes ago, prices go back to normal.</li>
        </ul>
        <ul>
            <li>The demo store also provides a log, that shows when it received a notification and changed the prices</li>
        </ul>

        <h3>Use cases / examples</h3>

        <p>As a sales manager I want use weather forecast as a parameter for pricing products, so that I can make more revenue.</p>

        <p>As a farmer I want to know if it's going to rain in next 24 hours, so that I can save money not watering the soil.</p>

        <p>As a event producer I want to know if it's going to snow today, so that I can offer cheaper tickets for attendees.</p>

        <h3>How to scale</h3>

        <p>Our weather forecast data is powered by forecast.io's API and it's only one input. Using the proper APIs it's possible
            to access endless kind of data and power many different applications. It's also possible to provide users integration
            modules so they can connect their data to the notification system.</p>

        
    </div>
</div>