<div class="row center-block">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

        <h1>{{vm.conditionMessage}}</h1>
        <div class="row row-centered">
            <div ng-repeat="item in vm.conditions" class="col-xs-12 col-sm-12 col-md-2 col-centered" ng-click="vm.selectCondition(item.id)">
                <div class="thumbnail" ng-class="{ activeCondition: vm.isSelected('condition', item.id)}">
                    <i class="{{item.icon}}"></i>
                    <div class="caption">
                        <h3>{{item.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <h1>{{vm.locationMessage}}</h1>
        <div class="row row-centered">
            <div ng-repeat="item in vm.locations" class="col-xs-12 col-sm-12 col-md-2 col-centered" ng-click="vm.selectLocation(item.id)">
                <div class="thumbnail" ng-class="{ activeCondition: vm.isSelected('location', item.id)}">
                    <div class="form-group form-group-lg">
                        <div class="col-lg-12">
                            <input ng-model="vm.locationInputValue" ng-change="vm.updateLocationItemValue()"  class="form-control input-lg text-center" type="text" value="{{item.value}}">
                        </div>
                    </div>
                    <div class="caption">
                        <h3>{{item.title}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <h1>{{vm.periodMessage}}</h1>
        <div class="row row-centered">
            <div ng-repeat="item in vm.periods" class="col-xs-12 col-sm-12 col-md-2 col-centered" ng-click="vm.selectPeriod(item.id)">
                <div class="thumbnail" ng-class="{ activeCondition: vm.isSelected('period', item.id)}">
                    <div class="form-group form-group-lg">
                        <div class="col-lg-12">
                            <input ng-model="vm.periodInputValue" ng-change="vm.updatePeriodItemValue()"  class="form-control input-lg text-center" type="number" value="{{item.value}}">
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h3>{{item.unit}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <h1>{{vm.actionMessage}}</h1>
        <div class="row row-centered">
            <div ng-repeat="item in vm.actions" class="col-xs-12 col-sm-12 col-md-4 col-centered" ng-click="vm.selectAction(item.id)">
                <div class="thumbnail" ng-class="{ activeCondition: vm.isSelected('action', item.id)}">
                    <i class="{{item.icon}}"></i>
                    <div class="caption text-center">
                        <h3>{{item.title}}</h3>
                    </div>
                    <div ng-show="vm.hasInputs(item)" class="form-group form-group-lg">
                        <div ng-repeat="input in item.inputs" class="col-lg-12">
                            <input ng-model="input.callback" class="form-control input-lg text-center" type="test" value="type endpoint here">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-block text-center">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5">
                <button type="button" class="btn btn-primary btn-block" ng-click="vm.submitConfiguration()">Submit</button>
            </div>
        </div>

    </div>
</div>